body {
  font-family: 'Commissioner', sans-serif !important;
}

h1, h2, .navbar-brand {
  font-family: 'Merriweather Sans', sans-serif !important;
}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.logo {
  height: 7vmin;
  pointer-events: all;
}

.site-title {
  padding: 1vmin;
}

.logo:hover {
  animation: App-logo-spin infinite 10s linear;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.background-party {
  background-image: url(../images/bg.jpg);
	height: 70vmin;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.jumbotron .container {
  max-width: 1140px !important;
}

.jumbotron .container .welcome {
  bottom: 20vmin;
  position: absolute;
  width: 100%;
}

.jumbotron .container .welcome h1, .jumbotron .container .welcome h4  {
  background-color: rgba(255, 230, 90, .5);
  padding: 10px;
  border-radius: 50px;
  color: #FFF;
}
